<!--Github - https://github.com/sandraon/angular -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AngularJS õpperakendus</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="angular.png"/>
    <!--AngularJS-->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular-route.js"></script>
    <!--Lodash-->
    <script src="//cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script>
    <!--Bootstrap css-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.css">
    <!--Custom css & js-->
    <link rel="stylesheet" type="text/css" media="screen" href="style.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="game.css"/>
    <script src="game.js"></script>
    <!--Google Font-->
    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
</head>
<!--<ng-app ng-app="myApp">-->
<body>
    <div class="container">
        <!--Header-->
        <header>
            <!--Navbar-->
            <nav class="navbar navbar-expand-lg navbar-light navbar-fixed-top">
                <a class="navbar-brand" href="index.html"><img id="logo" src="angular.png" alt="Angular.js" class="img-fluid">Angular.js õppekeskkond</a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="index.html">Avaleht</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="todo.html">ToDo list</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="example.html">Näited</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="resources.html">Õppematerjalid</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="game.html">Õppemäng</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="feedback.html">Tagasiside</a>
                        </li>
                    </ul>
                </div>
            </nav>    
        </header>
        
        <!--Content-->
        <section id="content">
            <div class="first-content">
                <h3 class="display-4">Mäng AngularJS-iga</h3><br/>
                <p style="color: grey;"><i>Õpetlik osa peitub koodist aru saamises :)</i></p>
                <div id="game">
                    <div ng-app="ticTacToeApp" class="ng-cloak" ng-cloak="">
                        <div ng-controller="gameController as ctrl">
                          <h2>Trips-traps-trull</h2>
                          <div class="gameinfo">       
                            <label>Laua suurus</label>
                            <input type="number" ng-model="newSize" />
                            <br/>
                            <label>Mitu reas, et võita?</label>
                            <input type="number" ng-model="newNumberToWin" />
                            <button class="btn btn-primary" ng-click="ctrl.newGame($event);">uus mäng</button>
                            <p ng-show="errors">{{errors}}</p>       
                          </div>
                           <hr/>
                           <div class="board">
                             <p ng-show="!winner && !draw">{{currentPlayer}}'i kord</p>
                             <p ng-show="winner" class="won">{{currentPlayer}} võitis</p>
                             <p ng-show="draw">DRAW</p>
                             <div ng-repeat="positionInfo in board" class="square" ng-click="ctrl.playTurn($event, positionInfo)" ng-class="{'floatme': !($index % boardsize)}"> 
                               {{positionInfo.player}}
                             </div>   
                           </div>
                       </div>  
                     </div>
                    </div>
            </div>
            
        </section>

    </div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</ng-app>
</html>